<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.<br>
  Contact me about my experience creating the app at <a href="http://FlackAP.com">FlackAP.com</a>
</p>