<!DOCTYPE html>
<html>
<head>
	<title>Ruby on Rails Tutorial Sample App | Home</title>
</head>

<body>
	<h1>The Almighty Second App</h1>
	<p>
  		This is the home page for the second
  		<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  		sample application I built. Hold on to your pants because this app's main purpose is to vaporize belt buckles. Let the buckleless revolution begin.
	</p>
</body>
</html>
